* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Arial, serif;
  color: white;
}


header {
  height: 250px;
  background:
    /* top, transparent dark gray */
    linear-gradient(
      rgba(24, 21, 21, 0.75),
      rgba(24, 21, 21, 0.75)
    ),
    /* bottom, image */
    url('img/bg1.jpg') no-repeat;
    background-size: 100% auto;
  background-position: center;
  text-align: center;
  border-top: 4px solid #E81C64;
}

h1 {
    font-size: 4rem;
    font-weight: 100;
    text-shadow: 1px 1px 10px black;
}
